<div class="sidebar" style="flex-direction: column; align-items: center; overflow: scroll;">
  <div class="top-menu">
    <img src="https://cdn-images-1.medium.com/fit/c/100/100/0*L7WQbejWZTmPdX6Q.jpeg" alt="" style="border-radius: 50%; margin-bottom: 25%;">
    <span class="section">Blog</span>
    <span>About</span>
    <span>Categories</span>
    <span class="section">Social</span>
    <span><a href="#" target="_blank">Twitter</a></span>
    <span><a href="#" target="_blank">GitHub</a></span>
    <span><a href="#" target="_blank">Medium</a></span>
    <span><a href="#" target="_blank">LinkedIn</a></span>
  </div>
</div>
<div class="main-content">
    <div class="notice">
      <%= flash.notice %>
    </div>
    <% if @posts.empty? %>
      <div class="post">
        <h1 class="title">There are <%= @posts.count %> posts</h1>
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <div class="post">
          <h1 class="title"><%= link_to post.title, post_path(post) %></h1>
          <p class="author">submitted on <%= post.created_at.strftime('%B %d %Y') %></p>
        </div>
      <% end %>
    <% end %>
</div>