<div class="sidebar">
  <div class="show-post">
    <h1 class="title"><%= @post.title %></h1>
    <p class="author">by Ryan Waits</p>
  </div>
</div>
<div class="main-content">
  <div class="show-post">
    <h1 class="title" style="padding: 1%;"><%= @post.title %></h1>
    <p><%= @post.body %></p>
  </div>
</div>