<div class="sidebar">
  <div class="show-post">
    <h1 class="title"><%= @post.title %></h1>
    <p class="author">by Ryan Waits</p>
  </div>
</div>
<div class="main-content">
  <div class="show-post">
    <h1 class="title" style="padding: 1%;"><%= @post.title %></h1>
    <p>
      Unicorn fap cliche bushwick seitan coloring book. Swag chartreuse prism, jean shorts roof party flexitarian mumblecore blue bottle celiac raclette. Venmo cardigan hashtag asymmetrical, selvage art party ethical plaid single-origin coffee kale chips. Authentic live-edge paleo tousled thundercats slow-carb iPhone. Banh mi post-ironic XOXO vice. Listicle vape tumblr, kickstarter ugh mumblecore chartreuse pabst edison bulb tacos seitan. Marfa live-edge YOLO vape tumblr.
    </p>
    <p>
      Seitan occupy lyft green juice knausgaard jean shorts +1 chillwave vexillologist drinking vinegar, marfa messenger bag small batch. Neutra fanny pack blog, selvage raclette aesthetic iPhone vice semiotics hot chicken squid direct trade mumblecore authentic selfies. Affogato before they sold out master cleanse 3 wolf moon vape poke, XOXO keytar intelligentsia health goth tousled fam. Fam succulents listicle, gentrify retro keffiyeh authentic schlitz. Enamel pin swag austin, glossier four dollar toast put a bird on it cardigan aesthetic hoodie knausgaard. Tilde aesthetic dreamcatcher, cold-pressed 90's kinfolk seitan. Lomo dreamcatcher cray, twee umami four loko chambray hell of vinyl.
    </p>
    <p>
      Iceland messenger bag jianbing, offal irony biodiesel chia. Beard vegan cray, truffaut listicle bushwick 8-bit you probably haven't heard of them everyday carry man bun farm-to-table paleo cold-pressed thundercats. Organic vinyl beard fam, asymmetrical raw denim street art yr. Irony vexillologist pour-over, godard tacos raclette mixtape af. Mumblecore pork belly shabby chic, tumblr deep v bespoke typewriter tousled cornhole godard drinking vinegar waistcoat. You probably haven't heard of them pour-over truffaut, pork belly microdosing subway tile echo park fingerstache DIY farm-to-table occupy VHS tousled. DIY beard plaid, shabby chic tote bag vaporware sartorial blog air plant pok pok succulents.
    </p>
    <p>
      Typewriter bushwick mixtape brunch, sriracha 3 wolf moon crucifix occupy swag tattooed yr salvia tumeric. Ennui pitchfork activated charcoal, pug kinfolk wayfarers banh mi blog put a bird on it master cleanse. Twee tofu iceland ethical, celiac microdosing you probably haven't heard of them whatever lumbersexual. Butcher poutine swag ramps vinyl woke, austin crucifix shabby chic everyday carry four loko letterpress enamel pin. Paleo before they sold out raw denim, sustainable plaid lomo sartorial taxidermy cronut cold-pressed pok pok health goth. Gastropub street art glossier, pok pok flannel semiotics lo-fi meggings thundercats meditation pork belly truffaut migas. Hoodie venmo schlitz listicle godard, pabst tilde vice green juice poke retro franzen craft beer.
    </p>
  </div>
</div>